@import "tailwindcss";

body {
  @apply bg-black font-mono text-green-400;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 0, 0.05),
    rgba(0, 255, 0, 0.05) 2px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
}

a {
  @apply text-cyan-400 underline hover:text-yellow-300;
}

h1,
h2 {
  @apply text-white;
}

ul li::before {
  content: "$ ";
  color: #22c55e;
}

@layer utilities {
  .cursor-blink::after {
    content: "█";
    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 0.15em solid #22c55e;
  animation: typing 1s steps(40, end) forwards;
}
@keyframes typing {
  to {
    width: 100%;
  }
}

/* default xterm styles */

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    /* Move textarea out of the screen to the far left, so that the cursor is not visible */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}