---

---

<footer class="p-4 border-t border-green-500 flex flex-col items-center gap-2">
    <p class="text-sm text-green-400">made with astro + tailwind</p>
    <div class="flex gap-4">
        <a href="https://github.com/stkossman" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/andriistavskyi" target="_blank">Linkedin</a>
    </div>
</footer>